.footer {
    text-align: center;
    color: white;
    padding: 8px;
    font-size: 12px;
    background-color: #4F299D;
    margin-top: 5px;
}

* {
    box-sizing: border-box;
    letter-spacing: 0.08em;
    font-family: Product Sans Regular;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: flex;
  }

  .image {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .scan-plot {
    text-align :center;
    padding-top : 20px; 
  }

  .scan-plot p {
    font-size: 18px;
  }

  .explanation {
      color: rgba(0, 0, 0, 0.5);
      text-align: center;
      font-size: 14px;
  }

  .menu:hover > .explanation{
    color: white;
}

  .menu:hover {
      background-color: #4F299D;
      border-radius: 5px;
      color: white;
  }
  
  [class*="col-"] {
    float: left;
    padding: 25px;
  }
  
  .header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
  }

  .discover-header {
      text-align: center;
      padding: 15px;
  }
  
  .side-image {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    .col-s-1 {width: 95%;}
    .col-s-2 {width: 33%;}
    .col-s-I {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    .col-1 {width: 65%;}
    .col-2 {width: 33%;}
  }