.span-style {
  font-size: 12pt;
  color: #000000;
  background-color: transparent;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-decoration: none;
  vertical-align: baseline;
  white-space: pre-wrap;
}
.header-style {
  font-weight: bold;
}
