.header {
  text-align: center;
  color: white;
  padding: 8px;
  font-size: 12px;
  background-color: #4f299d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-us {
  padding: 12px;
  text-decoration-line: underline;
  cursor: pointer;
}
