body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Product Sans Bold";
  src: local("Product Sans Bold"),
   url('./assests/fonts/Product Sans Bold.ttf') format("truetype");
  font-weight: bold;
  }
  @font-face {
    font-family: "Product Sans Regular";
    src: local("Product Sans Regular"),
     url('./assests/fonts/Product Sans Regular.ttf') format("truetype");
    font-weight: normal;
    }
  